.formContainer {
    display: flex;
    flex-direction: column;
}

.formContainer > * {
    margin: 10px !important;
}

.MuiButton {
    width: 100%; /* или любой другой процент, который вам подходит */
    height:40px;
    color: white; /* изменение цвета текста */
    text-align: center; /* выравнивание текста по центру */
    text-decoration: none; /* удаление подчеркивания */
    display: inline-block;
    cursor: pointer;
}